Appendix/Grading Results/.RData
Appendix/Grading Results/.Rhistory
/Appendix/Application Code/obj
/Appendix/Application Code/bin
Appendix/Application Code/Secrets.txt
/Appendix/Application Code/.vs
/Appendix/Application Code/Grader/bin
/Appendix/Application Code/Grader/obj
Appendix/Application Code/Grader/Secrets.txt
